.Button{
    width: fit-content;
    height: 3rem;

    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
    color: var(--title__main__white);
    
}


.Button__main{
    background-color: var(--highlight__main__pink);
}

.Button__main:hover{
    background-color: #812f36;
    transition: 0.2s;
}

.Button__normal{
    background-color: var(--secondary__gray_dark);
    /* border-image: var(--gradient__color) 0.5; */
}

.Button__normal:hover{
    background-color: #080808;
    transition: 0.2s;
}

@media only screen and (max-width: 768px) {
    .Button{
        min-width: 6rem;
        display: flex;
        justify-content: center;
    }
}