.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 8rem;
}

.title{
    margin: 0;
    font-size: var(--title__font_size);
    color: var(--title__main__white);
}

.paragraph{
    font-size: var(--paragraph__font_size);
    color: var(--paragraph__gray);
    text-align: left;
    line-height: 1.3;
}

@media only screen and (max-width: 768px) {
}