.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 8rem;
}

.title{
    width: 100%;
    text-align: left;
}

@media only screen and (max-width: 768px) {
}