.main_presentation{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_pane{
    width: 50%;
}

.right_pane{
    width: 50%;
    height: 100%;
}

.title__principal{
    font-size: var(--main_title__font_size);
    margin: 0;
}

.title__secundary{
    margin: 0;
    font-size: 15pt;
    color: var(--highlight__main__pink);
}

.paragraph__main{
    font-size: var(--paragraph__font_size);
    color: var(--paragraph__gray);
    text-align: left;
    line-height: 1.3;
}

@media only screen and (max-width: 768px) {
    .main_presentation{
        /* padding: 15rem 10%; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_pane{
        width: 100%;
    }

    .right_pane{
        width: 100%;
        height: 30%;
    }
}