:root{
  /* Colors */
  /* --background__black: #010101; old version */
  --background__black: #101015;
  --background__black_opacity_30: #10101530;
  /* --background__card__black: #16161A; old version */
  --background__card__black: #2b2b2bdb;
  --stroke__black: #010101;

  --title__main__white: #FFFFFE;
  --paragraph__gray: #94A1B2;
  --paragraph_highlight__gray: #dae0e7;

  --secondary__gray: #72757E;
  --secondary__gray_dark: #2f3034;
  --tertiary__green: #2CB67D;

  --highlight__main__pink: #D94E5A;
  --highlight__main__purple: #7F5AF0;
  --highlight__secondary__purple: #CA9BF7;
  --highlight__tertiary__purple: #3E3673;
  --highlight__main__yellow: #ffd13c;
  --highlight__main__blue: #73c3c5;

  /* Fonts */
  --main_title__font_size: 50pt;
  --title__font_size: 18pt;
  --paragraph__font_size: 12pt;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: var(--background__black);
  color: white;
  padding: 0 20%;
}

strong{
  color: var(--paragraph_highlight__gray);
}

@media only screen and (max-width: 768px) {
  body{
    padding: 0 10%;
  }
}