.isFrontend { color: var(--tertiary__green); }
.isDataScience { color: var(--highlight__main__blue); }
.isBackend { color: var(--highlight__secondary__purple); }
.isDataViz { color: var(--highlight__main__yellow); }

.card__container {
    width: 100%;
    min-height: 20vh;

    margin: 1rem 0;

    display: flex;
    flex-direction: column;
}

.card__image {
    text-align: center;
    height: auto;

    border-radius: 5pt;
    overflow: hidden;

    white-space: pre-line;
    font-weight: bolder;
}

.card__content {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__group_icons_container {
    display: flex;
    justify-content: center;
    
    padding: 0 2rem;

    border-color: var(--secondary__gray_dark);
    border-width: 2px;
    border-style: solid;
    border-radius: 5pt;

    flex-wrap: wrap;
}

.card__container_each_icon{
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    .card__container{
        flex-direction: column;
        width: 100%;
    }

    .card__image {
        width: 100%;
    }
}